
AirQualityBackend/venv
AirQualityBackend/CaptureSourceTreeGitHub.PNG
AirQualityBackend/~$n_python.docx
AirQualityBackend/__pycache__
AirQualityBackend/Run_python.docx
AirQualityBackend/start_python.PNG
