{% extends 'base.html' %}

{% block content %}

  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Measure</th>
        <th>Unit</th>
      </tr>
    </thead>
    <tbody>
      {% for measure in measures %}
        <tr>
          <td>{{ measure[0] }}</td>
          <td>{{ measure[1] }}</td>
          <td>{{ measure[2] }}</td>
          <td>{{ measure[3] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}